<header class="site-header">

    <a href="/" class="homepage-hitbox"></a>
    <nav class="site-nav">
        <ul>
            <li>
                <a href="/stories/"{% if page.url contains '/stories/' %} class="active"{% endif %}>photos</a>
            </li>
            <li>
                <a href="/projects/"{% if page.url contains '/projects/' %} class="active"{% endif %}>projects</a>
            </li>
            <li>
                <a href="mailto:jomogalla@gmail.com">email</a>
            </li>
        </ul>
    </nav>
</header>
