<header class="site-header">
    <!-- <div class="wrapper"> -->
    	<a class="site-title" href="/">Jason Domogalla</a>
        <button id="mobile-dropdown"><i class="fa fa-bars icon-4x"></i></button>
    	<nav class="site-nav">
    		<ul>
    			<li>
                    <a href="/webwork/">webwork</a>
                </li>
    			<li>
                    <a href="/stories/">photostories</a>
                </li>
    			<li>
                    <a href="http://domogalla.bigcartel.com">prints</a>
                </li>
    			<!-- <li><a href="../../about/">about</a> -->
    			<li>
                    <a href="mailto:jason@domogalla.org">email</a>
                </li>
    			<li class="icon">
                    <a href="http://{{site.tumblr_username}}.tumblr.com">
                        <span class="text">tumblr</span>
                        <i class="fa fa-tumblr-square"></i>
                    </a>
                </li>
    			<li class="icon">
                    <a href="http://www.instagram.com/{{site.instagram_username}}">
                        <span class="text">instagram</span>
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
    		</ul>
    	</nav>

    <!-- </div> -->
</header>
